* {
  // outline-color: $accent-color;
  outline: 2px solid rgb(173, 17, 121);
}

body {
  font-family: $font-family-main;
  letter-spacing: 0.03em;

  background-color: $basic-background-color;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  color: $title-text-color;

  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-bottom: 50px;

    font-size: 36px;
  }
}
