$basic-text-color: #757575;
$white-text-color: #ffffff;
$title-text-color: #212121;
$accent-color: #2196f3;
$black-accent-logo-color: #000000;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-background-social-links: rgba(255, 255, 255, 0.1);
$basic-background-color: #ffffff;
$accent-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$hero-background-color: rgba(47, 48, 58, 0.4);
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family-logo: 'Raleway', sans-serif;
$font-family-main: 'Roboto', sans-serif;
