.footer {
  background: $footer-background-color;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-box {
  margin-bottom: 60px;

  @media screen and (max-width: $desktop - 1) {
    text-align: center;
  }
}
