.overlay {
  display: block;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  background-image: linear-gradient(
      to bottom,
      $hero-background-color,
      $hero-background-color
    ),
    url('../img/header.jpg');

  background-color: $hero-background-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.62;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white-text-color;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
